.page
    width: 100%
    max-width: 1180px
    margin: 0 auto

.wrapper
    width: 100%
    background-color: #F3F3F3

.main
    padding: 25px

.ace-wrapper
    padding: 10px 0 
    background-color: #fff
    border-radius: 4px