.page
    width: 100%
    max-width: 1180px
    margin: 0 auto


.wrapper
    width: 100%
    display: flex
    flex-direction: column
    background-color: #F3F3F3

.main
    padding: 25px
    display: flex

.article
    margin-left: 32px
    width: 100%