@import '../../css/variables'
    
.section
    display: flex
    flex-direction: column
    width: 100%
    &-create
        padding: 20px
        box-sizing: border-box
        background: $primary-color

.subtitle
    margin-top: 0
    color: $secondary-color
    font-weight: normal
    text-align: center
